.no-posts{
    width: 100%;
    // background-color: red;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}