<div class="container mt-3 mb-3 py-5">


    @if (selectedUser) {
    <h2>Posts by User : {{ selectedUser.username }}</h2>
    }



    @if (posts.length > 0) {
    <div class="row">
        @for ( post of posts;track post.id) {
        <div class="col-12 col-md-6 col-lg-4">
            <app-post-item [post]="post" [userName]='selectedUser.username' ></app-post-item>
        </div>
        }
    </div>
    }

    @if (selectedUser && posts.length === 0|| loading) {
    <p>No posts available for this user.</p>
    
    }

    @if (!selectedUser) {
    <p class="no-posts">Please select a user to see their posts.</p>
    }

</div>